<div class="container">
  <h1>CONTACTO</h1>
  <div id="texto"  >
    <P appResaltado  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ESTA ES LA PAGINA PARA PODER CONTACTARME - NO DUDES EN HACER TU CONSULTA</P>
    <!-- <p>Escribeme a mi <b>Correo :</b>arpirez.fabio@gmail.com</p> -->
    <p appResaltado ><b>Correo :</b>arpirez.fabio@gmail.com</p>
    <p appResaltado ><b>Celular :</b>+5493834912105</p>
    <p appResaltado ><b>Desarrollador de Software</b></p>
    
     
  </div>
  <!--
    Tamaño del Slider:  
    <input type="number" [(ngModel)]="widhtSlider" />
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>


    <div *ngIf="anchuraToSlider">
   
    <slider [anchura]="anchuraToSlider"
            [etiquetas]="captions"
            (conseguirAutor)="getAutor($event)"
    ></slider>
    </div>
    <h1>{{nombredesdeHijo + " " +correodesdeHijo}}</h1>
    <h1>{{nombredesdeHijo}}</h1>
    <P>{{correodesdeHijo}}</P>-->
</div>
