<div id='title'>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
    <p>{{cel}}</p>
</div>
<article class="about">
<h2>Sobre mi</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis facilisis turpis, nec aliquet lorem efficitur ut. Donec feugiat finibus augue, sit amet convallis enim bibendum sed. Praesent ut faucibus odio. Quisque condimentum magna vulputate enim cursus dignissim. Nullam eu eros orci. Sed non lectus sollicitudin, fringilla libero ut, scelerisque dolor. Fusce vehicula semper est et condimentum. Proin facilisis libero nec leo interdum, id aliquet arcu finibus.
</p>
</article>