<div id='title'>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
    <p>{{cel}}</p>
</div>
<article class="about">
<h2>Sobre mi</h2>
<p>
    Soy Un desarrollador de software, En este momento estoy estudiando en el instituto san martin de la provincia de catamarca, 
    en el establecimiento el aprendido a programar con el lenguaje de programacion java,aprendi a trabajar con la plataforma de 
    desarrollo de Android estudio para aplicaciones mobil,Por cuenta propia y con ayuda del Programa de insercion laboral PILIS, 
    Tambien e logrado a prender otro lenguaje de programacion Java Script, la libreria de React.   
</p>
</article>