/* Importar fuentes custom*/
@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}

/*Generales*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}
.clearfix {
  float: none;
  clear: both;
  /*esto es para limpiar los flotadores entre los diferentes elementos */
}
/*Barra de navegacion / cabecera*/

header {
  display: block;
  width: 100%;
  height: 90px;
  background: rgba(53, 103, 164, 0.8);
  position: fixed;
  text-transform: uppercase; /*Mayuscula*/
}

header ul { 
  display: block;
  width: 34%;
  height: inherit;
  margin: 0px auto;
  margin-top: -3px;
}

header ul li {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 88px;
}

header a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit; /*altura heredada del padre*/
  text-decoration: none;
  color: white;
  transition: all 1s;
}

header a:hover,
	.actived{
		background: rgba(0,0,0,0.8);
	}
/*Logo Tipo*/
#logo {
  font-family: "finger";
  font-size: 30px;
}
#logo a {
  transition: color 500ms, transform 500ms;
}

header #logo a:hover {
  background: transparent;
  color: black;
  transform: scale(1.5, 1.5);
}
/*Contenedor Principal*/
#content {
  min-height: 600px;
  height: auto;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 120px;
  overflow: auto;
  
}

/*Pie de Pagina*/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/*Sobre mi*/
#title{
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
#title h1{
  font-family: "finger";
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
#title h2{
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
article.about{
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2{
  border-bottom: 1px solid #ccc; /*linea poco visible en bordo*/
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.about p{
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

/*seccion con el formulario*/

.container{
  padding: 50px;
  padding-top: 10px;
}
.container .image{
  float: left;
  width: 47%;
}
.container .image img{

  width: 100%;
}
.container .data{
  float: left;
  width: 48%;
  margin-left: 30px;

}


.container h2{
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


form{
  width: 80%;
}
form label{
width: 100%;
display: block;
margin-top: 10px;
margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
width: 40%;
height: 25px;
}

form button,
form input[type='submit'],
.button-edit,
.button-delete{
  display: block;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
 color: white;
 background: rgba(53, 103,  164, 1);
 border: 1px solid rgba(13, 67,  133, 1);
 cursor: pointer;
}
.button-edit,
.button-delete{
width: 30%;
float: left;
margin-right: 10px;
text-decoration: none;
}
.button-edit{
background: orange;
border: none;
}
.button-delete{
  background: red;
  border: none;
}

form button:hover,
form input[type='submit']:hover{
 
 background: rgba(53, 103,  164, 0.8);
 border: 1px solid rgba(13, 67,  133, 1);

}
form input[disabled]{
  /* background: #ccc; */
  opacity: 0.4;
  cursor: not-allowed;/*el cursos muestra un icnono de proibido*/ 
}

.form-error{
  font-size: 13px;
  padding: 3px;
  background: red;
  color: white;
  margin-left: 5px;

}
.message{
  width: 50%;
  padding: 5px;
  border: 1px solid #eee;
}
.success{
  background: green;
  color: white;
}
.success a{
  color: white;
}
.failed{
  background: red;
  color: white;
}
/*Pagina de Project*/
.project{
  list-style: none;
  display: block;
  float: left;
  width: 27%;
  text-align: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 30px;

}

.project .image{
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.project img{
  width: 100%;
  height: 100%;
}
.project a{
  text-decoration: none;
  color: black;
}

.confirm{
  display: block;
  font-weight: bold;
  margin-top: 20px;
}


